.aboutHeading > h1{
    color:black !important;
    font-size: 4.5rem !important;
    padding: 1rem;
    text-align: center !important;
    margin-top: 0px;
    
}

.aboutHigh{
    color: #eb792a !important;
    font-weight: bold;
}

.aboutContent > p{
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .aboutContent{
        padding: 0px;
    }
 
    #scrollAbout{
        padding: 0px;
    }

    #resume > div {
        padding: 0px;
    }
 }